<h1>Transportadoras</h1>

<%= link_to 'Cadastrar transportadora', new_admin_hauler_path %>

<% if @haulers.empty? %>
  <h3>Nenhuma transportadora cadastrada.</h3>
<% else %>
  <section>
    <% @haulers.each do |hauler| %>
      <h4>
        <%= link_to hauler.brand_name, admin_hauler_path(hauler) %>
      </h4>
      <h4>Cnpj: <%= hauler.registration_number %></h4>
    <% end %>
  </section>
<% end %>