<h1>Transportadora: <%= @hauler.brand_name %></h1>

<%= link_to 'Gerenciar Veículos', user_hauler_vehicles_path(@hauler) %>
<%= link_to 'Gerenciar preços', user_hauler_prices_path(@hauler) %>
<%= link_to 'Gerenciar prazos', user_hauler_delivery_dates_path(@hauler) %>