<p> Em construção </p>

<% if admin_signed_in? %>
  <%= link_to 'Cadastrar transportadora', new_admin_hauler_path %>
<% elsif user_signed_in? %>
  <p>Transportadora: <%= current_user.hauler.brand_name %></p>
<% end %>